.bi-calendar {
  position: relative;
  width: 350px;
  height: 450px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 5px;
  background: #fff;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}
.bi-header {
  width: 90%;
  min-height: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  border-radius: 5px 5px 0 0;
  padding: 0 5%;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
.bi-header button {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: none;
  background: inherit;
  color: inherit;
  cursor: pointer;
  font-size: 20px;
}
.bi-header button:hover {
  opacity: .5;
}
.bi-header span {
  -webkit-box-flex: 10;
  -ms-flex: 10;
  flex: 10;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
.bi-container {
  padding: 0 5%;
  width: 90%;
  height: 80%;
}
.bi-container ol {
  list-style: none outside;
}
.bi-container span {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  min-width: 14.285%;
  max-width: 14.285%;
}
.bi-container .bi-week {
  width: 100%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-weight: 600;
}
.bi-container .bi-date {
  width: 100%;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
}
.bi-container .bi-date span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 15%;
  cursor: pointer;
}
.bi-container .bi-date span:hover {
  background: #66c4e9;
  color: #fff;
}
.bi-date-today {
  background: #12a2db;
  color: #fff;
}
.bi-date-other {
  color: #bdb9b9;
}
.bi-footer {
  width: 100%;
  height: 15%;
  border-radius: 0 0 5px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.bi-footer button {
  border: none;
  background: inherit;
  font-size: 24px;
  cursor: pointer;
  color: #ff7e5e;
}
.bi-footer button:hover {
  color: #fd3706;
}
.bi-todo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}
.bi-todo textarea {
  color: inherit;
  resize: none;
  width: 83.2%;
  height: 60%;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  padding: 6% 8%;
  font-size: 20px;
  font-weight: 600;
  overflow-y: hidden;
  background: rgba(255, 255, 255, 0.2);
}
.bi-todo textarea:hover {
  background: rgba(255, 255, 255, 0.4);
}
.bi-todo svg {
  cursor: pointer;
  fill: #ff7e5e;
  margin: 3% auto;
}
.bi-todo svg:hover {
  fill: #fd3706;
}
.bi-hour,
.bi-min {
  width: 30%;
  text-align: center;
  font-size: 18px;
  border: none;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  background: rgba(255, 255, 255, 0.2);
}
